.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.filterPage {
  width: 100%;
}
.searchWrapper {
  text-align: start;
  padding: 0 10px;
  outline: none;
}

.tableWrapper {
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}
.tableWrapper {
  table-layout: fixed;
  width: 98%;
  text-align: start;
  align-items: center;
  border-collapse: collapse;
  margin-left: 1%;
}
.textB {
  border: 1px solid peru;
  width: 180px;
  height: 25px;
}
tr,
td {
  border: 1px solid #000;
  text-align: start;
  overflow-x: scroll;
}
.pageination {
  display: flex;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;
}

.paginationWrapper {
  width: 100%;
  display: flex;
  position: relative;
  top: 10px;
}
.btnActive {
  background-color: peru;
  color: aqua;
}
.btnDisabled {
  background-color: lightgray;
  color: lightslategrey;
}
button {
  font-size: 12px;
  background-color: lightblue;
  border: 1px solid peru;
  width: 40px;
  cursor: pointer;
  outline: none;
  color: black;
}
